<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Номера</title>
</head>
<style>
    body {
        background-image: url(../static/background.png);
        background-color: #A5D6D9;
        background-size: cover;
    }
    p {
        text-align: center;
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 60px;
    }
</style>
<body>
<p>Введите номер</p>
<form method="post"><p><small>+7</small>
<input type="tel" name="tel" pattern="[0-9]{10}" />
<input type="submit" value="Отправить"/>
</p></form>
</body>
</html>